@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');

html{
}
body {
    background-color: #212121;
    color: white;
    max-height: 100%;

}
.xs{
	width: 25px;
	height: 25px;
}
.little{
	width: 120px;
	height: 120px;
}
.little2{
	width: 200px;
	height: 200px;
}

.medium{
	width: 400px;
	height: 400px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.name{
	display: flex;
    align-items: center;
}

.face{
	text-align: right;
}

.stuff{
	text-align: center;
	font-size: 300%;
	text-shadow:4px 3px 0px rgba(129, 199, 132, 0.35);
}

.jumbotron{
	
	background: repeating-linear-gradient(
	  45deg,
	  #8dcc90,
	  #8dcc90 10px,
	  #81C784 10px,
	  #81C784 20px
	);
	
	color: black;
	font-family:  'Open Sans', sans-serif;
}
.jumbotron h1{
	font-family: Franklin Gothic Medium;
	font-style: normal; 
	text-shadow:4px 3px 0px rgba(255, 255, 255, 0.75), 9px 8px 0px rgba(0, 0, 0, 0.15);
}
.jumbotron hr{
	border: 0;
    height: 1px;
    background: #43A047;
    background-image: -webkit-linear-gradient(left, #81C784, #43A047, #81C784); 
    background-image:    -moz-linear-gradient(left, #81C784, #43A047, #81C784); 
    background-image:     -ms-linear-gradient(left, #81C784, #43A047, #81C784); 
    background-image:      -o-linear-gradient(left, #81C784, #43A047, #81C784); 
}

.jumbotron a{
	text-decoration: none;
	color: white;
}

footer {
	font-family:  'Open Sans', sans-serif;
	font-weight: bold;
	color: black;
  	background: repeating-linear-gradient(
	  45deg,
	  #8dcc90,
	  #8dcc90 10px,
	  #81C784 10px,
	  #81C784 20px
	);
  	min-height: 150px;
  	width: 100%;
}

footer a:link{
	text-decoration: none;
	color: black;
	font-size: 120%;
}

footer a:visited{
	color: black;
}

footer a i{
	color: white;
	font-size: 300%
}

.carbon{
	color: black;
}


.scrollToTop{
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #27AE61 url("../images/arrow-up.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.scrollToTop:hover{
	text-decoration:none;
}

/* ===========================
--- About
============================ */
.team{
	color: #666;
	text-align: center;
}

.boxed-grey {
	background: rgba(249,249,249,0.5);
	padding: 20px;
}

.team h5 {
	margin-bottom: 10px;
}

.team p.subtitle {
	margin-bottom: 10px;
}

.avatar {
	margin-bottom: 20px;
}

.team-social {
	margin-left: 0;
	padding-left: 0;
	
}

.team-social {
	text-align: center;
}

.team-social li{
    display: inline-block;
	margin:0 !important;
	padding:0;
}


.team-social a{
	margin:0;
	padding:0;
    display: block;
	width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
	color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.team-social a i{
	text-align: center;
	margin:0;
	padding:0;
}
.team-social .social-facebook a{background: #3873ae;}
.team-social .social-twitter a{background: #62c6f8;}
.team-social .social-dribble a{background: #d74980;}
.team-social .social-deviantart a{background: #8da356;}
.team-social .social-google a{background: #000;}
.team-social .social-vimeo a{background: #51a6d3;}
.team-social .social-facebook a:hover{background: #4893ce;}
.team-social .social-twitter a:hover{background: #82e6ff;}
.team-social .social-dribble a:hover{background: #f769a0;}
.team-social .social-deviantart a:hover{background: #adc376;}
.team-social .social-google a:hover{background: #333;}
.team-social .social-vimeo a:hover{background: #71c6f3;}

h5{
    margin: 0 0 30px;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

#alby{
	background-image: url("https://pbs.twimg.com/profile_banners/222210228/1443352595/1500x500");
}

#dev{
	background-image: url("https://pbs.twimg.com/profile_banners/2967702610/1445631990/1500x500");
}
